@layer components {
  .press-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(theme('spacing.48'), auto);
    grid-auto-flow: row dense;
    gap: theme('spacing.4');
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 4px theme('colors.gray.950');
  }
}
