@use 'sass:color';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-x: clip;
    accent-color: theme('colors.amber.300');
    @media not (prefers-reduced-motion) {
      scroll-behavior: smooth;
    }
  }

  body,
  .parallax__page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  body {
    @apply text-gray-900;
  }

  input,
  textarea {
    @apply rounded-none border border-gray-900 bg-white px-4 py-2 leading-normal disabled:bg-gray-50 disabled:text-gray-600;
  }

  %relative,
  .relative-fallback {
    position: relative;
  }
}

@layer components {
  .heading {
    &-1 {
      @apply font-display text-4xl font-bold capitalize sm:text-5xl;
    }

    &-2 {
      @apply font-display text-3xl font-bold capitalize;
    }
  }

  .card {
    @apply overflow-hidden rounded-sm bg-white shadow;

    &--hover {
      @apply duration-200 hover:shadow-md;
    }
  }

  .book-description {
    blockquote {
      font-style: italic;
    }
  }

  .content-em {
    --tw-content: ' — ';
    content: var(--tw-content, ' — ');
  }

  .fa-inline {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em;
  }

  .contact-form {
    display: grid;
    grid-template-columns: max-content auto;
    @apply gap-x-4 gap-y-4;
  }

  .form-label {
    @apply relative col-span-2 text-base leading-[0];
  }

  .form-label__text {
    position: absolute;
    top: theme('spacing.2') * -1;
    left: #{"theme('spacing.2')"};
    padding: 0 theme('spacing.2');
    font-size: theme('fontSize.xs');
    line-height: 1;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0.46rem;
      left: 0;
      right: 0;
      height: 3px;
      background: theme('colors.white');
      z-index: -1;
    }

    @at-root label:focus-within &::before {
      top: 0.3rem;
      height: 5px;
    }
  }

  .form-button {
    @apply whitespace-nowrap bg-gray-900 px-4 py-2 text-center text-white duration-150 hover:bg-gray-600 disabled:bg-gray-600;
  }

  .vignette {
    $color: theme('colors.gray.950');
    $r: color.red($color);
    $g: color.green($color);
    $b: color.blue($color);
    $spread: 8em;
    box-shadow: 0 0 var(--vignette-spread, $spread) 0
      var(--vignette-color, rgba($r, $g, $b, var(--vignette-opacity, 0.5)))
      inset;
  }

  .lightbox {
    @apply pointer-events-none fixed inset-0 z-10 block h-full w-full bg-gray-950/80 opacity-0 duration-300;

    &--active {
      @apply pointer-events-auto opacity-100;
    }
  }

  .separator-t {
    $default: theme('spacing.4');
    position: relative;
    margin-top: $default;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: $default * -0.5;
      border-top: solid 4px theme('colors.amber.300');
      width: 4rem;
      width: max(4rem, 20%);
      max-width: 100%;
    }
  }

  .separator {
    $default: theme('spacing.4');
    position: relative;
    margin-bottom: $default;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: calc(4px - $default);
      border-bottom: solid 4px theme('colors.amber.300');
      width: 4rem;
      width: max(4rem, 20%);
      max-width: 100%;
    }
  }

  .slant-edge-l {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
  }

  .underline-link {
    @apply relative;

    &::before {
      @apply absolute inset-1 -bottom-0.5 right-full border-b-2 border-transparent duration-300 content-[''];
    }

    &:hover::before,
    &--active::before {
      @apply right-1 border-amber-300;
    }
  }
}

@layer utilities {
  .layer-children {
    @extend %relative;
    & > * {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }

  .pseudo-fill-parent::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .clearfix::after {
    content: '';
    display: table;
    clear: both;
    border-spacing: 0;
  }

  .items-last-baseline {
    align-items: last baseline;
  }

  .text-overflow-fade::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.2em;
    z-index: 100;
    background: linear-gradient(
      to top,
      var(--fade-color, black) 0.2em,
      transparent
    );
  }

  .special-input {
    display: none;
  }

  .kerning-none {
    font-kerning: none;
  }

  .overlay {
    &-before,
    &-after {
      @extend %relative;
    }

    &-before::before,
    &-after::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  .feathered-blur {
    &-before,
    &-after {
      @extend %relative;
      @apply transform-gpu;
    }

    &-before::before,
    &-after::after {
      content: '';
      position: absolute;
      inset: 0;
      backdrop-filter: blur(var(--blur-size, 4px));
      mask-image: linear-gradient(
          to top,
          transparent 0%,
          #ffffff var(--feather-size, 2rem)
            calc(100% - var(--feather-size, 2rem)),
          transparent 100%
        ),
        linear-gradient(
          to left,
          transparent 0%,
          #ffffff var(--feather-size, 2rem)
            calc(100% - var(--feather-size, 2rem)),
          transparent 100%
        );
      mask-repeat: no-repeat;
      mask-composite: intersect;
    }
  }

  .inline-next-p + p {
    display: inline;
  }

  .sticky-v-center {
    top: calc(50vh - 50vw);
    top: calc(50svh - 50svw);
    bottom: calc(50vh - 50vw);
    bottom: calc(50svh - 50svw);
  }

  .text-shadow {
    text-shadow: 0px 0px 1.2em theme('colors.gray.950');
  }
}
