---
import type { ImageData } from '@build/images'
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import EventList from '@components/EventList'
import Footer from '@components/Footer.astro'
import { makeResponsive } from '@build/images'
import { isNotEmpty } from '@lib/utils'

import { client } from '@tina/__generated__/client'

const events = await client.queries.eventsConnection()
const images = await makeResponsive(
  events.data.eventsConnection.edges
    ?.map((e) => e?.node?.image)
    .filter(isNotEmpty)
    .map<ImageData>((path) => ({
      path,
      sizes:
        '(min-width: 1536px) 476px, (min-width: 1280px) 396px, (min-width: 1024px) 438px, (min-width: 768px) 320px, (min-width: 640px) 576px, 100vw',
    })) || [],
)
---

<Base title="Events – Soraya Palmer">
  <Header />
  <main class="container mx-auto py-16 text-lg">
    <EventList client:tina data={events} images={images} hLevel="h2" />
  </main>
  <Footer />
</Base>

<script>
  const oldContainer = document.querySelector('[data-events="past"]')
  const oldEvents = Array.from(
    document
      .querySelector('[data-events="upcoming"]')
      ?.querySelectorAll<HTMLElement>('[data-event-card]') || [],
  ).filter((e) => {
    const date = e.dataset.eventCard
    return !date || new Date(date).getTime() < Date.now()
  })

  oldEvents.forEach((e) => {
    e.remove()
  })
  oldContainer?.prepend(...oldEvents)
</script>
