---
import Page from '@layouts/Page.astro'
import EventList from '@components/EventList'
import { makeResponsive, type ImageData } from '@build/images'
import { isNotEmpty } from '@lib/utils'

import { client } from '@tina/__generated__/client'

const [page, events] = await Promise.all([
  client.queries.eventsPage({ relativePath: 'events.yaml' }),
  client.queries.eventsConnection(),
])

const images = await makeResponsive(
  events.data.eventsConnection.edges
    ?.map((e) => e?.node?.image)
    .filter(isNotEmpty)
    .map<ImageData>((path) => ({
      path,
      sizes:
        '(min-width: 1536px) 476px, (min-width: 1280px) 396px, (min-width: 1024px) 438px, (min-width: 768px) 320px, (min-width: 640px) 576px, 100vw',
    })) || [],
)
---

<Page title="Events">
  <main class="container mx-auto py-16 text-lg">
    <EventList
      client:load
      data={events}
      page={page}
      serverTime={Date.now()}
      images={images}
    />
  </main>
</Page>
