---
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import PressGrid from '@components/PressGrid.tsx'
import Footer from '@components/Footer.astro'

import { client } from '@tina/__generated__/client'

const page = await client.queries.pressPage({ relativePath: 'press.yaml' })
---

<Base title="Press – Soraya Palmer">
  <Header />
  <main class="container mx-auto py-16">
    <h1>
      Praise for <span class="italic"
        >The Human Origins of Beatrice Porter and other Essential Ghosts</span
      >
    </h1>
    <PressGrid client:tina query={page} />
  </main>
  <Footer />
</Base>
