---
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import PressGrid from '@components/PressGrid.tsx'
import PressList from '@components/PressList.tsx'
import Footer from '@components/Footer.astro'

import { client } from '@tina/__generated__/client'

const page = await client.queries.pressPage({ relativePath: 'press.yaml' })
const press = await client.queries.pressConnection()
---

<Base title="Press – Soraya Palmer">
  <Header />
  <main class="container mx-auto py-16">
    <h1 class="mb-8 font-display text-5xl font-bold capitalize">
      Praise for <span class="italic"
        >The Human Origins of Beatrice Porter and other Essential Ghosts</span
      >
    </h1>
    <PressGrid client:tina query={page} />
    <h2 class="my-8 font-display text-5xl font-bold capitalize">All Press</h2>
    <div>
      <PressList client:tina data={press} exclude={page} hLevel="h3" />
    </div>
  </main>
  <Footer />
</Base>
