---
import Page from '@layouts/Page.astro'
import TinaContent from '@components/TinaContent'
import ContactForm from '@components/ContactForm'
import PDF from '@components/PDF'

import { client } from '@tina/__generated__/client'
const page = await client.queries.workWithMePage({
  relativePath: 'services.mdx',
})
---

<Page
  title={`${page.data.workWithMePage.title} – Soraya Palmer`}
  headerClass="header-work-with-me"
>
  <TinaContent
    client:tina
    slot="header-title"
    data={page}
    path="workWithMePage.title"
  />
  <div
    class="container mx-auto py-16 xl:flex xl:items-start xl:justify-between"
  >
    <main
      class="prose prose-lg mx-auto font-serif prose-headings:font-display first:prose-headings:mt-0 prose-li:marker:text-amber-300 xl:ml-0"
    >
      <PDF
        client:load
        file="/media/half%20size%20Young%20Black%20Darkness%20(1).pdf"
      />
      <TinaContent client:tina data={page} path="workWithMePage.body" />
    </main>
    <div
      id="contact"
      class="relative mt-16 shrink-[0.5] basis-[36rem] text-lg xl:sticky xl:top-8 xl:ml-8 xl:mt-0 xl:pl-8"
    >
      <ContactForm client:visible />
    </div>
  </div>
</Page>

<style lang="scss" is:global>
  .header-work-with-me {
    position: relative;
    background-color: #{"theme('colors.gray.900 / 30%')"};
    background-image: none;

    &::before {
      content: '';
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: center 29%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(/media/headshot.jpeg);
      filter: contrast(70%);
      z-index: -1;
    }
  }
</style>
