---
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import CardList from '@components/CardList'
import Footer from '@components/Footer.astro'

import { client } from '@tina/__generated__/client'

/* const page = await client.queries.pressPage({ relativePath: 'press.yaml' }) */
const writing = await client.queries.writingConnection()
---

<Base title="Writing – Soraya Palmer">
  <Header />
  <main class="container mx-auto py-16 text-lg">
    <h1 class="separator mb-8 font-display text-5xl font-bold capitalize">
      Writing
    </h1>
    <CardList client:tina data={writing} hLevel="h2" />
  </main>
  <Footer />
</Base>
