---
import type { ImageData } from '@build/images'
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import CardList from '@components/CardList'
import Footer from '@components/Footer.astro'
import { makeResponsive } from '@build/images'
import { isNotEmpty } from '@lib/utils'

import { client } from '@tina/__generated__/client'

/* const page = await client.queries.pressPage({ relativePath: 'press.yaml' }) */
const writing = await client.queries.writingConnection()
const images = await makeResponsive(
  writing.data.writingConnection.edges
    ?.map((e) => e?.node?.image)
    .filter(isNotEmpty)
    .map<ImageData>((path) => ({
      path,
      sizes:
        '(min-width: 1536px) 476px, (min-width: 1280px) 396px, (min-width: 1024px) 438px, (min-width: 768px) 320px, (min-width: 640px) 576px, 100vw',
    })) || [],
)
---

<Base title="Writing – Soraya Palmer">
  <Header />
  <main class="container mx-auto py-16 text-lg">
    <h1 class="separator heading-1 mb-8">Writing</h1>
    <CardList client:tina data={writing} images={images} hLevel="h2" />
  </main>
  <Footer />
</Base>
