---
import client from '@tina/__generated__/client'
import ContactIcons from './ContactIcons'

const data = await client.queries.global({ relativePath: 'global.yaml' })
---

<footer class="mt-auto bg-gray-900 py-8 text-white">
  <div class="container mx-auto flex justify-between">
    <div>&copy; 2023 Soraya Palmer</div>
    <ContactIcons client:tina data={data} />
  </div>
</footer>
