---
import Icon from './Icon'
import { getIconFromUrl } from '@data/icons'

const socialLinks = [
  'https://twitter.com/sorayaonfiyah',
  'https://www.linkedin.com/in/soraya-palmer-64a7a72a/',
  'https://www.instagram.com/soraya.palmer/',
].map((ln) => new URL(ln))
---

<footer class="bg-gray-900 py-8 text-white">
  <div class="container mx-auto flex justify-between">
    <div>&copy; 2023 Soraya Palmer</div>
    <div class="flex space-x-3">
      {
        socialLinks.map((url) => {
          const icon = getIconFromUrl(url)
          if (!icon) return null
          return (
            <a
              href={url}
              title={icon.name}
              class="duration-150 hover:text-gray-300"
            >
              <Icon
                icon={icon.getDefinition()}
                class="fa-inline"
                width="1.2em"
                height="1.2em"
              />
            </a>
          )
        })
      }
    </div>
  </div>
</footer>
