---
interface Props {
  useAsTitle?: boolean
}

const { useAsTitle } = Astro.props

const H = useAsTitle ? 'h1' : 'h4'
---

<header>
  <div class="container mx-auto flex h-14 items-end justify-between py-2">
    <H class="font-display text-2xl">
      <a href="/">Soraya Palmer</a>
    </H>
    <nav class="">
      <ul class="flex items-end">
        <li class="px-4">Writing</li>
        <li class="px-4">Press</li>
        <li class="px-4">Work with me</li>
      </ul>
    </nav>
  </div>
</header>
