---
import Header from './Header.astro'
import BackgroundImage from './BackgroundImage.astro'

export interface Props {
  image: string
  class?: string
}

const { image, class: className } = Astro.props
---

<div
  class:list={[
    className,
    'bg-img-header vignette overlay-before flex h-[40vh] w-full flex-col bg-cover bg-center bg-no-repeat before:bg-gray-950/80',
  ]}
>
  <div class="relative z-50">
    <Header textColor="white" class="sm:text-shadow" />
  </div>
  {
    Astro.slots.has('default') && (
      <div class="container mx-auto mb-8 mt-auto">
        <h1 class="separator text-shadow heading-1 mb-8 text-white">
          <slot />
        </h1>
      </div>
    )
  }
  <BackgroundImage selector=".bg-img-header::before" src={image} />
</div>

<style lang="scss">
  .bg-img-header {
    position: relative;
    background-color: #{"theme('colors.gray.900 / 30%')"};
    background-image: none;

    &::before {
      content: '';
      display: block;
      inset: 0;
      background-position: center 29%;
      background-size: cover;
      background-repeat: no-repeat;
      filter: contrast(70%);
      z-index: -1;
    }
  }
</style>
